@import '../common.scss';

.problem__box {
    margin: 15px 0;

    @extend .clear__after;

    .problem__box__problem {
        .problem__box__id {
            margin-right: 5px;
        }
    }

    .problem__box__answers {
        float: right;
    }
}