@import '../common.scss';

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid $ColorBlack;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .problems {
        flex-grow: 1;
        flex-basis: auto;
        overflow-y: auto;
        height: calc(100vh - 80px);
        border: 1px solid $ColorBlack;
    }
    
    .answers {
        flex-basis: 350px;
        height: calc(100vh - 80px);
        border: 1px solid $ColorBlack;
    }
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50px;
    margin: 10px;    
}